<a href="https://colab.research.google.com/github/emcancode/FinalProjectPDA_Noeth/blob/main/FinalProjectPDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [141]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/emcancode/FinalProjectPDA_Noeth/main/AVGGAS.csv')

print(df.columns)
print(df.info())

Index(['Date', 'New York State Average ($/gal)', 'Albany Average ($/gal)',
       'Batavia Average ($/gal)', 'Binghamton Average ($/gal)',
       'Buffalo Average ($/gal)', 'Dutchess Average ($/gal)',
       'Elmira Average ($/gal)', 'Glens Falls Average ($/gal)',
       'Ithaca Average ($/gal)', 'Kingston Average ($/gal)',
       'Nassau Average ($/gal)', 'New York City Average ($/gal)',
       'Rochester Average ($/gal)', 'Syracuse Average ($/gal)',
       'Utica Average ($/gal)', 'Watertown Average ($/gal)',
       'White Plains Average ($/gal)'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758 entries, 0 to 757
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            277 non-null    object
 1   New York State Average ($/gal)  277 non-null    float64
 2   Albany Average ($/gal)          277 non-null    float64
 3   Batavia Average ($/gal)         277 non-null    float64
 4   Binghamton Average ($/gal)      277 non-null    float64
 5   Buffalo Average ($/gal)         277 non-null    float64
 6   Dutchess Average ($/gal)        277 non-null    float64
 7   Elmira Average ($/gal)          277 non-null    float64
 8   Glens Falls Average ($/gal)     277 non-null    float64
 9   Ithaca Average ($/gal)          277 non-null    float64
 10  Kingston Average ($/gal)        277 non-null    float64
 11  Nassau Average ($/gal)          277 non-null    float64
 12  New York City Average ($/gal)   277 non-null    float64
 13  Rochester Average ($/gal)       277 non-null    float64
 14  Syracuse Average ($/gal)        277 non-null    float64
 15  Utica Average ($/gal)           277 non-null    float64
 16  Watertown Average ($/gal)       277 non-null    float64
 17  White Plains Average ($/gal)    277 non-null    float64
dtypes: float64(17), object(1)
memory usage: 106.7+ KB
None